.super-mario {
    width: 150px;
    position: absolute;
    left: 50px;
    top: 95px;
    z-index: 2;
}

.goomba {
   width: 150px;
   position: absolute;
   left: 50px;
   top: 300px;
   z-index: 1;
}

.bowser {
    width: 250px;
    position: absolute;
    left: 500px;
    top: 200px;
    z-index: 3;
}

.baloon {
    position: absolute;
    width: 130px;
    left: 390px;
    top: 230px;
    z-index: 4;
}

.word {
    position: absolute;
    width: 90px;
    left: 410px;
    top: 225px;
    z-index: 5;
}

