* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #e8ffff;
}

#area-cabecalho {
  background-color: #0278ae;
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu {
	padding: 10px;
}

#area-pricipal {
	padding: 15px;
	width: 920px;
	margin: 0 auto;
}

#area-postagens {
	width: 660px;
	float: left;
}