body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 3em;
}

ul {
    background-color: thistle;
    line-height: 20px;
}

.modificar {
    background-color: teal;
}

li {
    text-decoration: underline;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}